@{
    ViewData["Title"] = "Home Page";
    ViewData["Message"] = "hello world";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Message"]</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    <table>
        <tr>
            <td>用户名:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>密码:</td>
            <td><input type="password" /></td>
        </tr>
        <tr>
            <td><button>登录</button></td>
            <td><button>注册</button></td>
        </tr>
    </table>
</div>
